# Data Science Tools and Ecosystem

#### In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* Python
* R
* Java

##### Some of the popular languages that Data Scientists use are:
1. Python
2. Java
3. R
4. SQL

##### Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib
2. Scikit-learn
3. Numpy
4. Pandas
5. Keras

| Data Science Tools|
|-------------------|
| 1. Jupyter Notebook|
| 2. R Studio |
| 3. SQL |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Nimish